body {
  background-color: white;
  font-family: 'Poiret One', cursive;
}

.main {
  text-align: center;
}

.employerLink {
  background-color: red;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: white;
}

.applicantLink {
  background-color: blue;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: white;
}

.submitJob {
  background-color: green;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: white;
}

h1 {
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.title {
  font-size:50px;
}

th {
  font-size: 25px;
}

table {
  position: relative;
  left: 27%;
  right: 27%;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}