<form action='/jobs' method='post'>
  Employer:<input name='employer' type='text'>
  Role:<input name='role' type='text'>
  Description:<input name='description' type='text'>
  Location:<input name='location' type='text'>
  <input type='submit' value='Add job'>
</form>
